<p id="notice"><%= notice %></p>

<p>
  <strong>Original URL:</strong>
  <%= @short_url.original_url %>
</p>

<p>
  <strong>Shortened URL:</strong>
  <%= link_to "www.jetfuel.com/#{@short_url.id.to_s(36)}", @short_url, target: "show" %>
</p>

<%= link_to 'Shorten another URL', short_urls_path %>
